th,
td {
  padding: 30px 100px 10px 50px;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: justify;
}
td {
  color: rgba(0, 0, 0, 0.719);
}

.right_arrow {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

@media (max-width: 950px) {
  .right_arrow {
    margin-top: 2rem;
    font-size: 13px;
  }
  th,
  td {
    padding: 5px 10px 10px 5px;
    font-weight: bold;
    font-size: 1.1rem;
  }
}
